.rounded {
  border-radius: 10px;
}
.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 14px;
}
.transxBox {
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px;
  padding: 20px;
  width: 100%; /* or any specific width */
  word-wrap: break-word; /* ensures the word will break if necessary */
  overflow-wrap: break-word; /* similar to word-wrap, added for more compatibility */
  word-break: break-all; /* forces the word to break at any character */
  overflow: hidden;
}
.footerBox {
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px;
  padding: 20px;
  word-wrap: calc();
  margin-top: 20px;
}
